.container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  list-style: none;
  width: calc(50% - 1em);
}

.item a:hover {
  text-decoration: none;
}

.item > a > div {
  min-height: 0;
}
